<form action="/insert" method= "post">
             <div class = "form-group mb-3">
                 <input type="text" name="nom" placeholder="Nombre" class="form-control">
             </div>
             <div class = "form-group mb-3">
                 <input type="text" name="apellidoP" placeholder="Apellido Paterno" class="form-control">
             </div>
             <div class = "form-group mb-3">
                 <input type="text" name="apellidoS" placeholder="Apellido Materno" class="form-control">
             </div>
             <div class = "form-group mb-3">
                 <input type="text" name="calle" placeholder="Calle" class="form-control">
             </div>
             <div class = "form-group mb-3">
                 <input type="text" name="num" placeholder="Numero" class="form-control">
             </div>
             <div class = "form-group mb-3">
                 <input type="text" name="col" placeholder="Colonia" class="form-control">
             </div>
             <div class = "form-group mb-3">
                 <input type="text" name="cp" placeholder="Codigo Postal" class="form-control">
             </div>
<div class = "form-group mb-3">
                 <input type="text" name="tel" placeholder="Telefono" class="form-control">
             </div>
             <div class = "form-group mb-3">
                 <input type="text" name="rfc" placeholder="RFC" class="form-control">
             </div>
             <div class="form-group mb-3">
                 <label for="formFile" class="form-label">Documentos</label>
                 <input class="form-control" type="file" name="doc" id="doc" multiple>
             </div>
             <div>
                 <input type="text" name="estatus" value="1" class="form-control" hidden>
             </div>
             <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Registrar Prospecto</button> 
         </form>